body {
    background-image: url("../img/Campus_Aerial_3_CUphoto.jpg");
    background-attachment: fixed;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    
  }