body {
    background-image: url("../img/stars-theme-ls13.jpg");
    background-attachment: fixed;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }