<!-- Home Page -->
<%- include('../partials/header') %>
<%- include('../partials/navBar') %>
<link rel="stylesheet" href="../../resources/css/home.css">
	<div class="container" style="padding-top: 2%;"> 
		<div class="jumbotron">
		  <h1 class="hd1"> Welcome to BitRun</h1>
		  <p class="lead hd2">Brian Noble, Calvin Stoughton, Dylan Stump, Odda Wako</p>
		  <div class="row">
			  <img src="../../resources/img/player-hurt-1.png" style="height: 100px; width: auto;">
			  <img src="../../resources/img/player-hurt-1.png" style="height: 100px; width: auto; padding-left: 81%;">
		  </div>
		  <p class="hd2">
			  BitRun was originally supposed to be a puzzle solver where players would solve puzzles based in computer science.

			  Unfortuantely, we did not have the time to create the dialogue system required, so we downgraded to a simple platformer.

			  The game consists of 2 easy levels, and your score will be based on the time it takes to complete both. Check out the "How to Play" tab for more information.
		  </p>
		</div>
	</div>

<%- include('../partials/footer') %>