<%- include('../partials/header') %>
<%- include('../partials/navBar') %>
<link rel="stylesheet" href="../../resources/css/howTo.css">
	<div class="container" style="padding-top: 7.5%;">
		<div class="row-justify-content-md-center">
			<div class="card-deck">
				<div class="card border-dark mb-3">
					<img class="card-img-top" src="../../resources/img/house.png">
					<div class="card-body">
					  <h3 class="card-title text-center" style="padding-top: 5%;">Goal</h5>
					  <p class="card-text" style="font-weight:bold ;">Find the house at the end of each level, and press E to go to the next level</p>
					</div>
				</div>
				<div class="card border-dark mb-3 text-center">
					<img class="card-img-top" src="../../resources/img/Spacebar.png" alt="Card image cap">
					<div class="card-body">
					  <h3 style="padding-top: 49%;">Jump</h5>
					</div>
				</div>
				<div class="card border-dark mb-3 text-center">
					<img class="card-img-top" src="../../resources/img/wasd.png" alt="Card image cap">
					<div class="card-body">
					  <h3 style="padding-top: 60%;">Movement</h5>
					</div>
				</div>
				<div class="card border-dark mb-3 text-center">
					<img class="card-img-top" src="../../resources/img/e.png" alt="Card image cap">
					<div class="card-body">
					  <h3 style="padding-top: 60%;">Interact</h5>
					</div>
				</div>
				<div class="card border-dark mb-3 text-center">
					<img class="card-img-top" src="../../resources/img/Shift.png" alt="Card image cap">
					<div class="card-body">
					  <h3 style="padding-top: 49%;">Sprint</h5>
					</div>
				</div>
			</div>
		</div>

	</div>
  
<%- include('../partials/footer') %>